<div class="layout-content">
  <div class="layout-content-body">
    <div  class="col-md-12">
      <div class="title-bar">
        <h5 class="title-bar-title">Estimador del mes de abril para el curso <%= @curso.grado.grado  %> <%= @curso.letra  %> </h5>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <div class="media">
            <div class="media-middle media-left">
              <div class="media-chart">
                <canvas data-chart="doughnut" data-animation="false" data-labels='["Resolved", "Unresolved"]' data-values='[{"backgroundColor": ["#27ae60", "#384243"], "data": [879, 377]}]' data-hide='["legend", "scalesX", "scalesY", "tooltips"]' height="64" width="64"></canvas>
              </div>
            </div>

            <div class="media-middle media-body">
              <h3 class="media-heading">
                <span class="fw-l">$<%= number_with_delimiter(@monto, :delimiter => '.') %>. Ingresos</span>
              </h3>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <div class="media">
            <div class="media-middle media-left">
              <div class="media-chart">
                <canvas data-chart="doughnut" data-animation="false" data-labels='["Resolved", "Unresolved"]' data-values='[{"backgroundColor": ["#27ae60", "#384243"], "data": [879, 377]}]' data-hide='["legend", "scalesX", "scalesY", "tooltips"]' height="64" width="64"></canvas>
              </div>
            </div>
            <div class="media-middle media-body">
              <h2 class="media-heading">
                <span class="fw-l">$<%= number_with_delimiter(@perdida, :delimiter => '.') %>.</span>
                <small>Perdida</small>
              </h2>
              <small>Mes abril</small>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <div class="media">
            <div class="media-middle media-left">
              <div class="media-chart">
                <canvas data-chart="doughnut" data-animation="false" data-labels='["Resolved", "Unresolved"]' data-values='[{"backgroundColor": ["#384243", "#27ae60"], "data": [879, 377]}]' data-hide='["legend", "scalesX", "scalesY", "tooltips"]' height="64" width="64"></canvas>
              </div>
            </div>
            <div class="media-middle media-body">
              <h2 class="media-heading">
                <span class="fw-l">$<%= number_with_delimiter(@maximo, :delimiter => '.') %>.</span>
                <small>Máximo</small>
              </h2>
              <small>Mes abril</small>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div  class="col-md-12">

      <div  class="col-sm-3">
        <div  class="card">
          <div  class="card-body">


            <div  class="media">
              <div  class="media-middle media-left">
                <span  class="circle sq-36 bg-info-inverse">
                  <span  class="icon icon-file-o"></span>
                </span>
              </div>
              <div  class="media-middle media-body">
                <h4  class="media-heading fw-l">Subvencion Base </h4>
              </div>

              <%= doughnut_chart       @sb, @options %>

            </div>


          </div>
        </div>
      </div>


      <div  class="col-sm-3">
        <div  class="card">
          <div  class="card-body">


            <div  class="media">
              <div  class="media-middle media-left">
                <span  class="circle sq-36 bg-info-inverse">
                  <span  class="icon icon-file-o"></span>
                </span>
              </div>
              <div  class="media-middle media-body">
                <h4  class="media-heading fw-l">Sep  </h4>



              </div>
              <%= doughnut_chart       @sep, @options %>

            </div>
          </div>
        </div>
      </div>
      <div  class="col-sm-3">
        <div  class="card">
          <div  class="card-body">


            <div  class="media">
              <div  class="media-middle media-left">
                <span  class="circle sq-36 bg-info-inverse">
                  <span  class="icon icon-file-o"></span>
                </span>
              </div>
              <div  class="media-middle media-body">
                <h4  class="media-heading fw-l">Prioritarios  </h4>



              </div>
              <%= doughnut_chart       @prioritarios, @options %>

            </div>
          </div>
        </div>
      </div>

      <div  class="col-sm-3">
        <div  class="card">
          <div  class="card-body">


            <div  class="media">
              <div  class="media-middle media-left">
                <span  class="circle sq-36 bg-info-inverse">
                  <span  class="icon icon-file-o"></span>
                </span>
              </div>
              <div  class="media-middle media-body">
                <h4  class="media-heading fw-l">Pie  </h4>

              </div>

              <%= doughnut_chart       @pie, @options %>
            </div>
          </div>
        </div>
      </div>



      <div  class="col-sm-6">
        <div  class="card">
          <div  class="card-body">


            <div  class="media">
              <div  class="media-middle media-left">
                <span  class="circle sq-36 bg-info-inverse">
                  <span  class="icon icon-file-o"></span>
                </span>
              </div>
              <div  class="media-middle media-body">
                <h4  class="media-heading fw-l"> Ingresos de los ultimos tres meses más proyección hasta este mes</h4>

              </div>

              <%= line_chart @proyeccion, {:height => "200"} %>
            </div>
          </div>
        </div>
      </div>

      <div  class="col-sm-6">
        <div  class="card">
          <div  class="card-body">


            <div  class="media">
              <div  class="media-middle media-left">
                <span  class="circle sq-36 bg-info-inverse">
                  <span  class="icon icon-file-o"></span>
                </span>
              </div>
              <div  class="media-middle media-body">
                <h4  class="media-heading fw-l"> Perdida de los ultimos tres meses más proyección hasta este mes</h4>

              </div>

              <%= line_chart @proyeccion,{:height => "200"} %>
            </div>
          </div>
        </div>
      </div>

      <div  class="col-sm-4">
        <div  class="card">
          <div  class="card-body">


            <div  class="media">
              <div  class="media-middle media-left">
                <span  class="circle sq-36 bg-info-inverse">
                  <span  class="icon icon-file-o"></span>
                </span>
              </div>
              <div  class="media-middle media-body">
                <h4  class="media-heading fw-l"> Perdida de los ultimos tres meses más proyección hasta este mes</h4>

              </div>

              <%= bar_chart @proyeccion, {} %>
            </div>
          </div>
        </div>
      </div>

      <div  class="col-sm-4">
        <div  class="card">
          <div  class="card-body">


            <div  class="media">
              <div  class="media-middle media-left">
                <span  class="circle sq-36 bg-info-inverse">
                  <span  class="icon icon-file-o"></span>
                </span>
              </div>
              <div  class="media-middle media-body">
                <h4  class="media-heading fw-l"> Perdida de los ultimos tres meses más proyección hasta este mes</h4>

              </div>

              <%= bar_chart @proyeccion, {} %>
            </div>
          </div>
        </div>
      </div>

      <div  class="col-sm-4">
        <div  class="card">
          <div  class="card-body">


            <div  class="media">
              <div  class="media-middle media-left">
                <span  class="circle sq-36 bg-info-inverse">
                  <span  class="icon icon-file-o"></span>
                </span>
              </div>
              <div  class="media-middle media-body">
                <h4  class="media-heading fw-l"> Perdida de los ultimos tres meses más proyección hasta este mes</h4>

              </div>

              <%= bar_chart @proyeccion, {} %>
            </div>
          </div>
        </div>
      </div>



      <div  class="col-sm-12">

        <div  class="card">
          <div  class="card-body">


            <div  class="media">
              <div  class="media-middle media-left">
                <span  class="circle sq-36 bg-info-inverse">
                  <span  class="icon icon-file-o"></span>
                </span>
              </div>
              <div  class="media-middle media-body">
                <h4  class="media-heading fw-l"> Predicción del mes</h4>

              </div>



        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>#</th>
              <th>Asignatura #</th>
              <th>Profesor</th>
              <th>Horas</th>
              <th>Valor Hora</th>
              <th>Total</th>
            </tr>
            </thead>
            <tbody>


            <tr><% @curso.horas.each_with_index do |hora,ixx| %>
              <th scope="row"><%= ixx+1 %></th>
              <td><%= hora.asignatura.nombre%> </td>
              <td><%= hora.profesor.nombres %> <%= hora.profesor.apellidos %> </td>
              <td><%= hora.horas%></td>
              <td>$<%= number_with_delimiter(hora.profesor.remuneracion/ hora.profesor.horas, :delimiter => '.') %>.</td>
              <td>$<%= number_with_delimiter(hora.horas*(hora.profesor.remuneracion/ hora.profesor.horas ), :delimiter => '.') %>.</td>
<%  sumar_costo(hora) %>

                  </tr><%end%>

            <tr>
              <th scope="row" colspan="5">
                <div class="text-right">


                  Costo del curso
                  <br> Subvención Base
                  <br> Subvención Sep
                  <br> Subvención Priritarios
                  <br> Subvención Pie
                  <br> Ingresos Aproximados de este mes
                  <br> TOTAL
                </div>
              </th>
              <td>
               $<%= number_with_delimiter(@costo, :delimiter => '.') %>.-
                <br> $<%= number_with_delimiter(@montos_curso[:base], :delimiter => '.') %>.
                <br> $<%= number_with_delimiter(@montos_curso[:sep], :delimiter => '.') %>.
                <br> $<%= number_with_delimiter(@montos_curso[:prioritarios], :delimiter => '.') %>.
                <br> $<%= number_with_delimiter(@montos_curso[:pie], :delimiter => '.') %>.
                <br> $<%= number_with_delimiter(@monto, :delimiter => '.') %>.
                <br>
                <strong>$<%= number_with_delimiter(@monto-@costo, :delimiter => '.') %>.</strong>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
            </div>
          </div>
        </div>

      </div>






    </div>



  </div>
</div>
